@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px Tahoma, sans-serif;
  background: black;
  overflow: hidden;
  --spacing: 10px;
}

* {
  box-sizing: border-box;
  user-select: none !important;
}

.modal {
  z-index: 999999;
}

#synth {
  height: 100%;
}

.synth {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-items: start;
  background: black;
}

.header {
  background: silver;
  text-align: left;
  padding: 3px 10px;
}
.header #preset-name {
  display: inline-block;
  border: 1px solid gray;
  width: 200px;
  padding: 3px;
}
.header #preset-name:empty::before {
  content: "Preset name";
}
.header .recorder button#record {
  color: red;
}
.header .recorder button#record::before {
  content: "record";
}
.header .recorder button#record.stop::before {
  content: "stop";
}
.header .recorder button#play::before {
  content: "play";
}
.header .recorder button#play.stop::before {
  content: "stop";
}

.library-root {
  position: absolute;
  background: silver;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 0 10px 10px 10px;
}
.library-root .library {
  display: flex;
  flex-direction: row;
}
.library-root .library .banks {
  display: flex;
  flex-direction: column;
}
.library-root .library .banks div {
  padding: 3px 6px;
}
.library-root .library .banks div.selected {
  background: white;
}
.library-root .library .presets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
}
.library-root .library .presets div {
  padding: 3px 6px;
}
.library-root .library .presets div::before {
  color: transparent;
  content: "• ";
}
.library-root .library .presets div.selected::before {
  color: dodgerblue;
}

.controls {
  display: flex;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.controls .expression-controls {
  display: flex;
  flex-grow: 0;
}
.controls .expression-controls .panel .control-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.controls .settings {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}

@media (max-height: 800px) {
  .expression-controls .panel .control-group {
    flex-wrap: nowrap !important;
  }

  .settings {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }
}
.panel {
  flex-basis: content;
  display: flex;
  flex-direction: column;
  margin: 2px;
  background: silver;
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 10px;
  flex-grow: 1;
}
.panel h2 {
  text-align: center;
  font: 12px Verdana;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.panel div.control-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.panel span.control {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: top;
}
.panel span.control label {
  width: 50px;
  display: inline-block;
  white-space: nowrap;
  padding-bottom: 2px;
  padding-top: 5px;
  text-align: center;
}
.panel span.control div.control-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.panel span.control .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 167px;
  padding: 0;
  margin: 0;
}
.panel span.control .labels .label {
  font-size: 9px;
  padding: 0;
}
.panel div.vertical-group {
  display: flex;
  flex-direction: column;
}
.panel div.vertical-group input[type=range][orient=vertical] {
  height: 70px;
}
.panel div.vertical-group .labels {
  height: 65px;
}
.panel.keyboard {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.panel.keyboard .keyboard-controls {
  flex-basis: content;
  flex-grow: 0;
}
.panel.keyboard .keyboard-keys {
  flex-grow: 1;
  margin-top: 10px;
  position: relative;
}
.panel.keyboard .keys {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.panel.keyboard .keys .key {
  box-sizing: border-box;
  flex-grow: 2;
  height: 100%;
  background: white;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  text-align: left;
  padding: 2px;
  color: transparent;
}
.panel.keyboard .keys .key.with-label {
  color: #222222;
}
.panel.keyboard .keys .key.down {
  background: #DDDDDD;
}
.panel.keyboard .keys.ebony {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  pointer-events: none;
}
.panel.keyboard .keys.ebony .spacer {
  flex-grow: 100;
}
.panel.keyboard .keys.ebony .spacer.first {
  flex-grow: 70;
}
.panel.keyboard .keys.ebony .spacer.last {
  flex-grow: 90;
}
.panel.keyboard .keys.ebony .key {
  pointer-events: all;
  flex-grow: 100;
  background: #222222;
}
.panel.keyboard .keys.ebony .key.down {
  background: #444444;
}

/*# sourceMappingURL=mono-synth.css.map */
