html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px Tahoma, sans-serif;
  background: black;
  overflow: hidden;
  --spacing: 10px;
}

* {
  box-sizing: border-box;
  user-select: none !important;
  -webkit-user-select: none !important;
}

.modal {
  z-index: 999999;
}

#synth {
  height: 100%;
}

.synth {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-items: start;
  background: black;

  button, select {
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.2em 1em;
    color: black;
  }
}

.header {
  background: silver;
  text-align: left;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  gap: 0.5em;

  #power {
    margin-left: auto;
  }

  #preset-name {
    display: inline-block;
    border: 1px solid gray;
    width: 200px;
    padding: 3px;
    font-size: 130%;

    &:empty::before {
      content: 'Preset name';
    }
  }

  .recorder {
    button#record {
      color: red;
      &::before {
        content: 'record';
      }
      &.stop::before {
        content: 'stop';
      }
    }

    button#play {
      &::before {
        content: 'play';
      }
      &.stop::before {
        content: 'stop';
      }
    }
  }
}

.library-root {
  display: none;
  position: absolute;
  background: silver;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 0 10px 10px 10px;
  font-size: 150%;
  z-index: 1000;

  &.show {
    display: block;
  }

  .library {
    display: flex;
    flex-direction: row;

    .banks {
      display: flex;
      flex-direction: column;

      div {
        padding: 3px 6px;

        &.selected {
          background: white;
        }
      }
    }

    .presets {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: white;

      div {
        padding: 3px 6px;

        &::before {
          color: transparent;
          content: '• '
        }

        &.selected::before {
          color: dodgerblue;
        }
      }
    }
  }
}

.controls {
  display: flex;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;

  .expression-controls {
    display: flex;
    flex-grow: 0;

    .panel .control-group {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .settings {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
}

@media (max-height: 600px) {
  .expression-controls {
    .panel .control-group {
      flex-wrap: nowrap !important;
    }
  }
  .settings {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }
}

.panel {
  flex-basis: content;
  display: flex;
  flex-direction: column;
  margin: 2px;
  background: silver;
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 10px;
  flex-grow: 1;

  h2 {
    text-align: center;
    font: 12px Verdana;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  div.control-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  span.control {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: top;

    label {
      width: 50px;
      display: inline-block;
      white-space: nowrap;
      padding-bottom: 2px;
      padding-top: 5px;
      text-align: center;
    }

    div.control-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
    }

    .labels {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 167px;
      padding: 0;
      margin: 0;

      .label {
        font-size: 9px;
        padding: 0;
      }
    }

  }

  div.vertical-group {
    display: flex;
    flex-direction: column;

    input[type="range"][orient="vertical"] {
      height: 70px;
    }

    .labels {
      height: 65px;
    }
  }

  &.keyboard {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .keyboard-controls {
      flex-basis: content;
      flex-grow: 0;
    }
    .keyboard-keys {
      flex-grow: 1;
      margin-top: 10px;
      position: relative;
    }

     .keys {
       width: 100%;
       display: flex;
       flex-direction: row;
       height: 100%;

     .key {
       box-sizing: border-box;
       flex-grow: 2;
       height: 100%;
       background: white;
       border: 1px solid black;
       border-radius: 0 0 3px 3px;
       cursor: pointer;
       text-align: left;
       padding: 2px;
       color: transparent;
       &.with-label {
         color: #222222;
       }


       &.down {
         background: #DDDDDD;
       }
     }

     &.ebony {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 60%;
       justify-content: space-between;
       pointer-events: none;

       .spacer {
         flex-grow: 2;

         +.spacer {
           flex-grow: 5;
         }

         &.first {
           flex-grow: 0;
         }
         &.last {
           flex-grow: 0;
         }
       }

       .key {
         pointer-events: all;
         flex-grow: 3;
         background: #222222;
         padding: 0;
         border: 0;

         &.note-1 {
           transform: translateX(-65%);
         }
         &.note-3 {
           transform: translateX(-35%);
         }
         &.note-6 {
           transform: translateX(-65%);
         }
         &.note-8 {
           transform: translateX(-50%);
         }
         &.note-10 {
           transform: translateX(-35%);
         }

         &.down {
           background: #444444;
         }
       }
     }
   }

 }
}



