html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px Tahoma, sans-serif;
  background: black;
  overflow: hidden;
}

* {
  user-select: none !important;
}

.synth {
  display: flex;
  flex-direction: column;
  background: black;
}

.header {
  background: silver;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel {
  flex-basis: content;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background: silver;
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 10px;

  h2 {
    text-align: center;
    font: 12px Verdana;
    margin-top: 0;
    text-transform: uppercase;
  }

  div.control-group {
    display: flex;
    flex-direction: row;
  }

  span.control {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: top;

    label {
      display: block;
      padding-bottom: 10px;
      text-align: center;
    }

    div.control-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
    }

    select {
      overflow: hidden;
      text-align: center;
    }

    input[type="range"] {

      &[orient="vertical"] {
        appearance: slider-vertical;
        width: 30px;
        height: 170px;
        padding: 0;
        margin: 0;
      }
    }

    .labels {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 165px;
      padding: 0;
      margin: 0;

      .label {
        font-size: 9px;
        padding: 0;
      }
    }

  }

  &.keyboard {
   flex-basis: 100%;
    padding: 10px;

   .keys {
     width: 100%;
     display: flex;
     flex-direction: row;
     height: 160px;

     .key {
       flex-grow: 2;
       height: 100%;
       background: white;
       border: 1px solid black;
       border-radius: 0 0 3px 3px;
       cursor: pointer;

       &.down {
         background: #DDDDDD;
       }
     }

     &.ebony {
       margin-top: -160px;
       justify-content: space-between;
       pointer-events: none;

       .spacer {
         flex-grow: 100;

         &.first {
           flex-grow: 9;
         }
         &.last {
           flex-grow: 72;
         }
       }

       .key {
         pointer-events: all;
         flex-grow: 100;
         height: 65%;
         background: #222222;

         &.down {
           background: #444444;
         }
       }
     }
   }

 }
}

label {
  display: inline-block;
  white-space: nowrap;
  text-align: center;

  width: 50px;
}

