
html, body {
  --theme-bright-color: rgb(255, 229, 115);
  --theme-normal-color: rgb(255, 208, 0);
  --theme-dark-color: rgb(196, 160, 0);
  --theme-bg-color: #333333;
  --theme-panel-bg-color: #444444;
  --theme-panel-text-color: #cccccc;
  --theme-effects-bg-color: #777777;
  --theme-effects-panel-bg-color: #aaaaaa;
  --theme-effects-panel-text-color: black;
  --theme-help-bg-color: lightgreen;
  --theme-help-text-color: black;
  --theme-help-outline-color: lime;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px Trebuchet, sans-serif;
  background: black;
  overflow: hidden;
  --spacing: 10px;
}

* {
  box-sizing: border-box;
  user-select: none !important;
  -webkit-user-select: none !important;
}

.help-active {
  outline: 3px solid lime;
}

.modal {
  z-index: 999999;
}

#synth {
  height: 100%;

  &.disable-pointer-events {
    pointer-events: none;
  }
}

.synth {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-items: start;
  background: var(--theme-bg-color);

  button, select {
    border: 3px solid black;
    border-radius: 4px;
    padding: 0.2em 1em;
    background-color: black;
    background-image: linear-gradient(#666666, black);
    font-weight: bold;
    color: #cccccc;
  }
}

.header {
  background: var(--theme-panel-bg-color);
  text-align: left;
  padding: 3px 10px 4px;
  display: flex;
  gap: 0.5em;
  margin-bottom: 2px;
  box-shadow: inset 0 -1px rgba(0,0,0,0.7);

  #power {
    margin-left: auto;
  }

  #preset-name {
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    width: 250px;
    padding: 0 0.5em;
    font-size: 130%;
    line-height: 23px;
    height: 25px;
    background-color: white;
    box-shadow: inset rgba(0,0,0,0.8) 0 2px 5px;

    &::after {
      float: right;
      content: '⌄';
      font-size: 150%;
      transform: translateY(-25%);
    }

    &:empty::before {
      content: 'Preset name';
    }
  }
}

.library-root {
  display: none;
  position: absolute;
  background: silver;
  padding: 10px;
  border: 0;
  box-shadow: black 0 3px 10px;
  border-radius: 0 10px 10px 10px;
  font-size: 150%;
  z-index: 1000;

  &.show {
    display: block;
  }

  .library {
    display: flex;
    flex-direction: row;

    .banks {
      display: flex;
      flex-direction: column;

      div {
        padding: 3px 6px;
        border-radius: 5px 0 0 5px;

        &.selected {
          background: white;
        }
      }
    }

    .presets {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: white;
      border-radius: 0 5px 5px 0;

      div {
        padding: 3px 6px;

        &::before {
          color: transparent;
          content: '• '
        }

        &.selected::before {
          color: dodgerblue;
        }
      }
    }
  }
}

.controls {
  display: flex;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;

  .expression-controls {
    display: flex;
    flex-grow: 0;

    .panel .control-group {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .settings {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
}

@media (max-height: 600px) {
  .expression-controls {
    .panel .control-group {
      flex-wrap: nowrap !important;
    }
  }
  .settings {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }
}

.panel {
  flex-basis: content;
  display: flex;
  flex-direction: column;
  margin: 2px;
  background: var(--theme-panel-bg-color);
  color: var(--theme-panel-text-color);
  border: 0;
  box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 -1px rgba(0,0,0,0.7);
  padding: 1px;
  border-radius: 10px;
  flex-grow: 1;

  h2 {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  div.control-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  span.control {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: top;

    label {
      width: 50px;
      display: inline-block;
      white-space: nowrap;
      padding-bottom: 2px;
      padding-top: 5px;
      text-align: center;
    }

    div.control-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
    }

    .labels {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 167px;
      padding: 0;
      margin: 0;

      .label {
        font-size: 9px;
        padding: 0;
      }
    }

  }

  div.vertical-group {
    display: flex;
    flex-direction: column;

    input[type="range"][orient="vertical"] {
      height: 70px;
    }

    .labels {
      height: 65px;
    }
  }

  &.keyboard {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .keyboard-controls {
      flex-basis: content;
      flex-grow: 0;
      display: flex;
      gap: 1em;

      keyboard-adjuster {
        display: inline-block;
        flex-grow: 1;
        border: 1px solid black;
        border-radius: 0.5em;
        background-color: rgb(239, 239, 239);
      }
    }
    .keyboard-keys {
      flex-grow: 1;
      margin-top: 10px;
      position: relative;
    }

     .keys {
       width: 100%;
       display: flex;
       flex-direction: row;
       height: 100%;

     .key {
       box-sizing: border-box;
       flex-grow: 2;
       height: 100%;
       background: white;
       border: 1px solid black;
       border-radius: 0 0 3px 3px;
       cursor: pointer;
       text-align: left;
       padding: 2px;
       color: transparent;
       &.with-label {
         color: #222222;
         &.middle-c {
           background-image: linear-gradient(to top, transparent, transparent 80%, var(--theme-normal-color));
         }
       }


       &.down {
         background: #DDDDDD;
       }
     }

     &.ebony {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 60%;
       justify-content: space-between;
       pointer-events: none;

       .spacer {
         flex-grow: 2;

         +.spacer {
           flex-grow: 5;
         }

         &.first {
           flex-grow: 0;
         }
         &.last {
           flex-grow: 0;
         }
       }

       .key {
         pointer-events: all;
         flex-grow: 3;
         background: #222222;
         padding: 0;
         border: 0;

         &.note-1 {
           transform: translateX(-65%);
         }
         &.note-3 {
           transform: translateX(-35%);
         }
         &.note-6 {
           transform: translateX(-75%);
         }
         &.note-8 {
           transform: translateX(-50%);
         }
         &.note-10 {
           transform: translateX(-25%);
         }

         &.down {
           background: #444444;
         }
       }
     }
   }

 }
}

.overlay {
  position: absolute;
  z-index: 9999;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  flex-basis: content;
  display: flex;
  flex-direction: column;
  margin: 2px;
  background: var(--theme-effects-bg-color);
  color: var(--theme-effects-panel-text-color);
  padding: 6px;
  border-radius: 16px;
  flex-grow: 1;
  box-shadow: 0px 10px 30px, inset 0 1px rgba(255,255,255,0.3), inset 0 -1px rgba(0,0,0,0.7);

  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .effect-group {
    display: flex;
    flex-direction: row;
    background: var(--theme-effects-panel-bg-color);
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 -1px rgba(0,0,0,0.7);
    margin: 2px;
    padding: 0 10px;
    align-items: center;

    .vertical-group:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80px;
      height: 100px;
    }
  }
}



